body {
  margin: 0;
  padding: 0;
}
.navbar {
  grid-area: navbar;
  background-color: #6c747e;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
}
.nav_menu {
  display: flex;
  width: 35%;
  gap: 4%;
}
.nav_menu a {
  text-decoration: none;
  color: white;
  font-size: larger;
}

.middle {
  display: flex;
  /* background-color: pink; */
  height: 89.8vh;
  width: 100%;
  border-top: 1px solid white;
}
.menu {
  background-color: #6c747e;
  width: 25%;
}
